body{
    font-family: serif;
    font-size: 3vw;
    margin: 0px;
}
.div-box{
    margin: 1em;
    padding: 0.5em;
    border: 0.1em, solid, #000;
}
.empty{
    color: #3060ff;
}
.full{
    color: #ff3060;
}
.long{
    overflow: auto;
    max-width: 50vw;
}