body{
    margin: 0px;
    font-size: 8vw;
}
.title_banner{
    width: 100vw;
}
.explain_text{
    font-size: 1em;
    width: 100%;
    text-align: center;
    font-family: sans-serif;

}
.next_page{
    background-color: lightgray;
    display: block;
    margin: auto;
    padding: 1em;
    font-size: 0.6em;
    border-radius: 0.5em;
}

.next_page:active{
    background-color: gray;
    display: block;
    margin: auto;
    padding: 1em;
    font-size: 0.6em;
    border-radius: 0.5em;
}