body{
    margin: 0px;
    font-size: 8vw;
    font-family: sans-serif;
}

#stage_indicator{
    font-size: 1.5em;
}

#stage_explain{
    font-size: 0.7em;
    inline-size: 80%;
    margin-inline-start: 10%;
}

#answer_area{
    margin:1em;
    border: 0.1em solid #a0a0a0;
    border-radius: 1em;
}
#answer_field{
    font-size: 1em;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

#stage_changer{
    margin:1em;
    border: 0.1em solid #a0a0a0;
    border-radius: 1em;
}

#nextstage_condition #title{
    font-size:0.9em;
}

.stage_condition_wait{
    font-size:1.2em;
    color: #d0d0d0;
}
.stage_condition_empty{
    font-size:1.2em;
    color: #3060ff;
}
.stage_condition_full{
    font-size:1.2em;
    color: #ff3060;
}

.center_text{
    width: 100%;
    text-align: center;
}

.center_button{
    background-color: #50f050;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    padding: 1em;
    font-size: 0.6em;
    border-radius: 0.5em;
}
.center_button:active{
    background-color: #3eb73e;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    padding: 1em;
    font-size: 0.6em;
    border-radius: 0.5em;
}
.center_button:disabled{
    background-color: #f0f0f0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    padding: 1em;
    font-size: 0.6em;
    border-radius: 0.5em;
}

.note{
    color: #808080;
    font-size: 0.5em;
}

.alert{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height:100%;
    background-color: #00000083;
    
}
.alert h3{
    position: fixed;
    left: 0%;
    top: 40%;
    width: 100%;
    height:100%;
    text-align: center;
    text-shadow:
    2px 2px 0 #fff;
}

